Q1.Check the data types of the below variables:
a=50, b=10.4, c="Hello"

In [1]:
a=50
b=10.4
c="Hello"
print("Type of a is {}".format(type(a)))
print("Type of b is {}".format(type(b)))
print("Type of c is {}".format(type(c)))

Type of a is <class 'int'>
Type of b is <class 'float'>
Type of c is <class 'str'>

Q2.Check whether the given string is in Upper case?

String - " My Name is Adam"

In [13]:
s = "My Name is Adam"
print(s.isupper())

False

Q3.What is the length of the given string?

String- "My Name is Adam"

In [14]:

print(len(s))

15

Q4.Write a code (using "for" loop) to print the sum of all elements in the list = [6, 5, 3, 8, 4, 2, 5, 4, 11, 43]?

In [11]:
sum_val = 0 
inp_lst = [6, 5, 3, 8, 4, 2, 5, 4, 11, 43]

for x in inp_lst:
    sum_val+=x
    
print(sum_val)

91

Q5. Write a python code( using only while loop) which will only print the even numbers from 2 to 12.

In [15]:
i=2
while i<=12:
  print(i)
  i=i+2

2
4
6
8
10
12

Q6.Write a python code( using the combination of if statement and while loop) which will only print the even numbers from 2 to 12.

In [16]:
i=2
while i<=12:
  if i%2==0:
    print(i)
  i=i+1

2
4
6
8
10
12

Q7.Write a code( using if-else statement), which will print the minimum of the below given numbers.
x=50,y=30,z=40

In [19]:
x=50
y=30
z=40

if (x<y) and (x<z):
  print("x is the smallest number")
elif (y<z):
  print("y is the smallest number")
else: 
  print("z is the smallest number")

y is the smallest number